body {
    margin: 0;
    
    background-color: #FAF8DA;
    font-family: 'Open Sans', sans-serif;
   
}

.primary-header {
    text-align: center;
}

.main-heading {
    font-size: 70px;
    color: #205D76;
}

.town-preview {
    width: 650px;
}
.store-section {
    display: flex;
    display: -webkit-flex;
    margin: 50px auto;
    width: 450px;
}

.building {
    width: 200px;
}

.store-details {
    margin-left: 30px;
}

.category-heading {
    color: #205D76;
    font-size: 30px;
}

.store-list {
    padding-left: 15px;
    color: #FFC122;
}

.store-name {
    margin-bottom: 10px;
}

.store-link {
    color: #EA6E2F;
    font-size: 20px;
}

.primary-footer {
    padding: 2px;
    background-color: #FFC122;
    text-align: center;
}

.created-by {
    color: #FFFFFF;
    font-size: 20px;
}


